.postModal .modal-dialog .modal-content {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.postModal .modal-dialog .modal-content .modal-header button.close {
  color: white;
}

.postModal .modal-dialog .modal-content .modal-header button.close:hover {
  color: white;
}

.postModal .modal-dialog .modal-content .modal-header {
  border: none;
}

.fas.fa-chevron-left,
.fas.fa-chevron-right {
  color: rgba(255, 255, 255, 0.664);
}

.fas.fa-chevron-left:hover,
.fas.fa-chevron-right:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.911);
}
.postModal .modal-dialog {
  max-width: 1200px !important;
}

.FollowersModal .modal-dialog .modal-content .modal-header button.close {
  width: 30%;
}

.FollowORFolllowers:hover {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .postModal .modal-dialog {
    max-width: 100% !important;
  }
}

.userstats p {
  margin-left: 3rem;
}
