.container {
  min-width: 620px;
}

.col {
  justify-content: space-between;
}

.left-up p,
.col > span {
  display: flex;
  align-items: left;
}

.mainpicwrapper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.mainpicwrapper:hover {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  border: 3px solid red;
}

.mainpicwrapper {
  width: 80px;
  margin-left: 0px;
}

.mainpic {
  border-radius: 50%;
  width: 80px;
}

.maintxtwrap {
  margin-top: 30px;
  margin-left: 0px;
}
.pic-wrapper {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}
.pic {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-top: 10px;
}

.centertxtwrap {
  width: 60%;
}

.centertxt a {
  color: black;
}

.centertxt a:link {
  color: black;
}

.centertxt a:hover {
  color: black;
}

.centertxt a:visited {
  color: black;
}

.centerlinkwrap span {
  text-align: left;
}

.text-wrapper {
  text-align: left;
  width: 60%;
  margin-top: 30px;
  margin-left: 5px;
}

.link-wrap {
  display: flex-end;
  margin-top: 30px;
}

.mainlinkwrap {
  display: flex-end;
  margin-left: 20px;
  margin-top: 30px;
}

.wrap-img:hover {
  border-radius: 50%;
  border: 1px solid black;
  width: 30px;
  height: 30px;
}

.footerhome span,
.footerhome p {
  font-size: 12px;
  font-weight: 500;
  color: #999;
  text-decoration: none;
}

.footerhome span a:link {
  font-size: 12px;
  font-weight: 500;
  color: #999;
  text-decoration: none;
  margin-right: 1rem;
}

.footerhome span a:visited {
  font-size: 12px;
  font-weight: 500;
  color: #999;
  text-decoration: none;
}

.footerhome span a:hover {
  font-size: 12px;
  font-weight: 500;
  color: #999;
  text-decoration: none;
}

.footerhome span a:active {
  font-size: 12px;
  font-weight: 500;
  color: #999;
  text-decoration: none;
}

.footerhome span select {
  font-size: 12px;
  font-weight: 500;
  color: #999;
  text-decoration: none;
  margin-right: 1rem;
}
