body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background-color: #fafafa;
}
.LoginComp {
  background-color: #ffffff;
  border: 1px solid #dfdfdf;
}

.LoginComp div:first-child {
  display: flex;
  justify-content: center;
}

.LoginBnt {
  background-color: #0095f6;
  border: none;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 9px;
}

.divider {
  border-top: 1px solid #dfdfdf;
  display: block;
  line-height: 1px;
  margin: 15px 0;
  position: relative;
  text-align: center;
}

.form-group input {
  background-color: #fafafa;
}
.forgotPass p {
  font-size: 12px;
  color: #00376b;
}

.forgotPass p:hover {
  cursor: pointer;
  color: #0762b6;
}

.LoginComp:last-of-type strong:hover {
  cursor: pointer;
}
