body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background-color: #fafafa;
}
.LoginComp {
  background-color: #ffffff;
  border: 1px solid #dfdfdf;
}

.LoginComp div:first-child {
  display: flex;
  justify-content: center;
}

.LoginBnt {
  background-color: #0095f6;
  border: none;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 9px;
}

.googleBtn {
  border: none;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 9px;
}

.divider {
  border-top: 1px solid #dfdfdf;
  display: block;
  line-height: 1px;
  margin: 15px 0;
  position: relative;
  text-align: center;
}

.form-group input {
  background-color: #fafafa;
}
.forgotPass p {
  font-size: 12px;
  color: #00376b;
}

.forgotPass p:hover {
  cursor: pointer;
  color: #0762b6;
}

.forgotPass a:hover {
  text-decoration: none;
}
.LoginComp:last-of-type strong:hover {
  cursor: pointer;
}

.fbgoogleLogin a:hover {
  text-decoration: none;
}

.EditProfileBtn {
  background-color: rgba(0, 0, 0, 0);
  padding: 5px 9px;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #dbdbdb;
  color: #262626;
  border-radius: 5px;
}

.navBorderPofile {
  border-top: 1px solid black;
  color: black;
}

.ProfileNavBar p:hover {
  cursor: pointer;
}

.navBorderPofileSmall {
  color: #0095f6;
}

.profileImg {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.hoverOverPosts {
  display: none;
}
.postProfile {
  position: relative;
}
.postProfile:hover .hoverOverPosts {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.507);
}

.CommentList p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.CommentListUser p:first-of-type:hover {
  text-decoration: underline;
  cursor: pointer;
}

.profileHeart:hover {
  cursor: pointer;
}

.ReplyComment p:hover {
  cursor: pointer;
}

.SendMsgIcons i:hover {
  cursor: pointer;
}

.LikedByPost strong:first-of-type:hover {
  cursor: pointer;
  text-decoration: underline;
}
.LikedByPost strong:hover {
  cursor: pointer;
}

.postBtn {
  border: none;
  background-color: white;
  color: #0762b6;
  font-weight: bold;
  margin-right: 4px;
}
@media (max-width: 768px) {
  .profileImg {
    margin-top: 20px;
    width: 77px;
    height: 77px;
  }
}
